
<script language="Javascript" type="text/Javascript">
  window.onload = function(){
    $(".jumbotron").attr('class', 'newClass');
  }
</script>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Securemail</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Spam</a></li>
        <li><a href="/emails/new">Compose Message</a></li> 
        
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/edit/3"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
        <li><a href="/users/sign_up"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="row">
  <div class="col-md-2"; data-spy="affix"; style="height:100%;width:350px;overflow:auto;">
        <table class="table table-hover";>
      <thead>
        <tr>
          <th>Contact</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <tr class="success">
          <td>John</td>
          <td>jtouchdown@knights.ucf.edu</td>
        </tr>
        <tr>
          <tr class="danger">
          <td>July</td>
          <td>hottestmonth@knights.ucf.edu</td>
        </tr>
        <% if @emails.nil? %>
          "No emails!"

          <% else %>
            <% if @emails.count == 1 %>
              <%= %> <%= @emails.data %>
            <% else %>
              <% @emails.reverse %>
              <% @emails.each do |e| %>
              <tr>
                <td><%=e.from_user%></td>  <td><%= e.created_at %></td>
              </tr>
              <% end %>
            <% end %>
          <% end %>
      </tbody>
    </table>
      </div>
  <div class="col-md-3">
</div>

