
<script language="Javascript" type="text/Javascript">
  window.onload = function(){
    $(".jumbotron").attr('class', 'newClass');
  }
</script>
  
<div class="row">
  <div class="col-md-2"; data-spy="affix"; style="height:100%;width:350px;overflow:auto;">
        <table class="table table-hover";>
      <thead>
        <tr>
          <th>Contact</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <tr class="success">
          <td>John</td>
          <td>jtouchdown@knights.ucf.edu</td>
        </tr>
        <tr>
          <tr class="danger">
          <td>July</td>
          <td>hottestmonth@knights.ucf.edu</td>
        </tr>
        <% if @emails.nil? %>
          "No emails!"

          <% else %>
            <% if @emails.count == 1 %>
              <%= @emails.from_user %> <%= @emails.data %>
            <% else %>
              <% @emails.reverse %>
              <% @emails.each do |e| %>
              <tr>
                <td><%=e.from_user%></td>  <td><%= e.created_at %></td>
              </tr>
              <% end %>
            <% end %>
          <% end %>
      </tbody>
    </table>
      </div>
  <div class="col-md-3">
</div>

