
<script language="Javascript" type="text/Javascript">
  window.onload = function(){
    $(".jumbotron").attr('class', 'newClass');
  }
</script>
  
<div class="row">
  <div class="col-md-2"; data-spy="affix"; style="height:100%;width:350px;overflow:auto;">
        <table class="table table-hover";>
      <thead>
        <tr>
          <th>Contact</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% if @emails.nil? %>
          "No emails!"

          <% else %>
              <% @emails = @emails.sort_by { |h| h[:updated_at] } %>
              <% @emails.each do |e| %>
              <tr>
                <% if e.read ==1 %>
                    <tr class="danger">
                <% else %>
                    <tr class="success">
                      <% end %>
                <td><%=e.from_user%></td>  <td><%= e.created_at %></td>
              </tr>
            
          <% end %>
        <% end %>
      </tbody>
    </table>
      </div>
  <div class="col-md-3">
</div>

