<div class="row">
  <div class="col-md-2" data-spy="affix"; style="height:100%;width:350px;overflow:auto;">
        <table class="table table-hover">
      <thead>
        <tr>
          <th>Contact</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% if @emails.nil? %>
          "No emails!"

          <% else %>
              <% @emails = @emails.reverse %>
              <% @emails.each do |e| %>
              <tr>
                <% if e.read ==1 %>
                    <tr class="danger">
                <% else %>
                    <tr class="success">
                <% end %>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible
                <td><%=e.from_user%></td>  <td><%= e.created_at %></td> 
              </button>
              <td>
                <div class="col-md-9 collapse" id="demo"  style="height:1000px;width:750px;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                <%= e.data %> this is sample text
              </div>
              </td>
              </tr>
            
          <% end %>
        <% end %>
      </tbody>
    </table>
      </div>
  <div class="col-md-3">
</div>


