<script language="Javascript" type="text/javascript">

  setTimeout(function(){
    window.location.reload(1);
}, 150000);

</script>


<div class="row">
  <div class="col-md-2" data-spy="affix"; style="height:100%;width:350px;overflow:auto;">
        <table class="table table-hover">
      <thead>
        <tr>
          <th>Contact</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% if @emails.nil? %>
          "No emails!"

          <% else %>
              <% @emails = @emails.reverse %>
              <% @emails.each do |e| %>
                <tr>
                  <% if e.read ==1 %>
                    <tr class="danger">
                  <% else %>
                    <tr class="success">
                  <% end %>
                  <% @from_user = User.find(e.from_user) %>
                  <td><%= "#{@from_user.firstname} #{@from_user.lastname}" %></td>  <td><%= link_to e.created_at || "No Date", "/emails/show/#{e.id}" %></td> 
             
                </tr>
            
          <% end %>
        <% end %>
      </tbody>
    </table>
      </div>
  <div class="col-md-3">
</div>

<% #dont delete from db, sort emails, decrypt stuff working, add exceptions, adding keys to database, drafts? %>
    
              
